<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/projects.css">
    <link rel="stylesheet" href="../css/normalizer.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<title>Paula Terreno | Portfolio </title>
</head>
<body>
<header class="header-container">
    <!-- <img src="./resources/PNG/symbol3.png" alt="symbol"> -->
    <nav>
        <img src="../resources/PNG/symbol3.png" alt="symbol" height="30px">
        <ul class="menu-container">
            <li><a href="/index.html">Home</a></li>
            <li><a href="./projects.html">Projects</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
     </nav>
</header>
    <main>
    <section>
    <div class="section-title">
        <h2>PROJECTS</h2>
        <img src="/resources/PNG/symbol2.png" alt="icon" width="20px"> 
    </div>
    <div class="project-container">
        <div class="card-project">
        <img src="/resources/Projects/UX COVER.png" alt="ux ui cover">
        <div class="project-content">
            <div class="title-container">
            <h4 class="project-title">SEEM  -  Parking app</h4>
            <button class="button-portfolio">
                <a href="https://www.behance.net/pauterreno">See more</a> <!--Subir a behance y cambiar link-->
            </button>
            </div>
            <p class="project-description">UX Case of Study. I have made a whole new parking experience.
            App from the goberment.
            </p>   
        </div>    
    </div>
</div>
<div class="project-container">
    <div class="card-project">
       <img src="/resources/Projects/CB-01.jpg" alt="club de psicos cover">
       <div class="project-content">
            <div class="title-container">
            <h4 class="project-title">CLUB DE PSICOS - Branding Project</h4>
            <button class="button-portfolio">
                <a href="https://www.behance.net/gallery/210218633/Club-de-Psicos">See more</a>
            </button>
            </div>
            <p class="project-description"> Visual identity and brand guidelines for a pshycologist community.
            </p>   
        </div>    
    </div>
</div>
<div class="project-container">
    <div class="card-project">
       <img src="/resources/Projects/sabii.jpg" alt="sabi cover">
       <div class="project-content">
        <div class="title-container">
            <h4 class="project-title">SABI - Branding Project</h4>
            <button class="button-portfolio">
                <a href="https://www.behance.net/gallery/210219159/Sabi-Consultora-de-Negocios">See more</a>
            </button>
        </div>
            <p class="project-description"> Visual identity and brand guidelines for a bussines consultant.
            </p>   
        </div>    
    </div>
</div>
<div class="project-container">
    <div class="card-project">
       <img src="/resources/Projects/sartoriale.jpg" alt="sartoriale cove">
       <div class="project-content">
        <div class="title-container">
            <h4 class="project-title">SARTORIALE - Branding Project</h4>
            <button class="button-portfolio">
                <a href="https://www.behance.net/gallery/210223211/Sartoriale">See more</a>
            </button>
        </div>
            <p class="project-description"> Visual identity and brand guidelines for men's tailoring brand.
            </p>   
        </div>    
    </div>
</div>
</section>
</main>
<footer class="footer-container">
    <div class="info-container">
        <div class="footer-msj"><h5>LETS WORK TOGHETER</h5></div>
        <div class="footer-img"> <img src="../resources/PNG/symbol1.png" alt="happy face" height="80px"></div>
    </div>
    <div class="footer-contact">
        <p>mpaulat.design@gmail.com </p>
        <p>+54 3517603941  </p>
        <p>Argentina,CBA.  </p> 
    </div>
</footer>
    
</body>
</html>