/*ESTILOS REUTILIZABLES EN VISTAS */
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;

    background-color: #202020;
}

h1,h2,h5 {color:#42d49c; margin: 2;}

h3,h4, p {color: #f2f2f2; margin: 2;}


.section-title {
    height: 50px;
    width: 90%vw;
    display: inline-block;
    flex-direction:row;
    font-size: 25px;
    opacity: .5; /*efectos para titulos*/
}

/*---------HEADER NAV--------*/

 .header-container {
    height: 30px;
    width: 100vw;
    /*position: static; agregar bckground color. ver
    si hay q agregar otra propiedad para que quede
    ADELANTE Y ESTATICO*/

}

nav {
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.menu-container {
    height: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

 li {
    list-style: none;
    padding: 5px;
}


a:link {color: #42d49c; text-decoration: none;}

a:visited {color: #42d49c;}

a:hover {color: #f2f2f2;}

 .section-title  { /*Estilos titulos de seccion*/
    padding: 5%;
    display: inline-block;
    width: 80%vw;
}


/*---------HERO-------*/

 .hero {
    height: 250px;
    width: 60%vw;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero img {
padding: 0;

}

.presentation {
    height: 200px;
    padding-left: 20px;
    width: 30%vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hello-world {
    height: 120px;
    width: 40%;
    font-size: 0,8rem;
}

.im-paula {
    height: 150px;
    width: 200px;
    font-size: 15px;
    padding: 0;
}

/*---------ABOUT ME-------*/


.about-me-image {
    width: 100%vw;
    background-size: cover;
    
}

.about-me-text {
    width: 100%;
    padding: 5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------MY STACK------*/

#stack-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-stack {
    height: 250px;
    margin: 20px;
    padding: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 4px #42d49cd3; 
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
}

.stack-title {
    padding: 0;
    font-weight: bold;
    height: 10px;
}

.stack-description {
    font-size: 14px;
    text-align: center;

}

/*---------WORK------*/

#work-container {
    width: 100%vw;
    height: 250px;
    margin-top: 80px;
    background-image: url(/resources/PNG/1x/black\ background.png);
}

#my-work {
    padding: 50px;
    width: 80%vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5 .my-work-title {
    opacity: .7; /*efectos para titulos*/
    padding: 0;
}

.my-work-title {
    font-size: 30px;
}


.button-portfolio {
    box-shadow: 1px 1px 4px 2px #42d49cd3; 
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    text-align: center;
    color: #f2f2f2;
    height: 50px;
    width: 130px;
    font-size: 16px;
    padding: 10px;
}

/*---------FOOTER------*/

.footer-container {
    height: 100px;
    width: 100%vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    background-image: url(../resources/PNG/pattern.png);
}

.info-container {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-msj {
    color: #42d49c;
    font-size: 20px;
    width: 20px
}

 .footer-contact {
    height: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.footer-contact p {
    font-size: 9px;
    color: #42d49c;
    text-align: center;
    font-weight: bold;
}
